#banner{
    height: 250px;
    width: 100%;
    background-color: crimson;
}

#imgCircle{
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-top: -90px;
    border-radius: 50%;
}

#img{
    
    height: 200px;
    width: 200px;
    border-radius: 50%;
}