<div class="row">
        <div class="card m-5 col-md-4 col-sm-12" style="width: 18rem;" >
          <img src="./images/blue-circle-with-white-user_78370-4707.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card m-5 col-md-4 col-sm-12" style="width: 18rem;">
          <img src="./images/image2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card m-5 col-md-4 col-sm-12" style="width: 18rem;" >
          <img src="./images/logo.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>