<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(!email){%>
           <center><h2>Example of Session in Express.JS (Post Method)</h2></center>
    <hr>
    <center>
        <a href="/">Home</a> | 
        <a href="/login">Login</a>
    </center>
    <hr>
    <center><span style="color: red;"><%=msg%></span></center>
    <%} else{%>
         <center><h2>Example of Session in Express.JS (Post Method)</h2></center>
    <hr>
    <center>
        <a href="/">Home</a> | 
        <a href="/logout">LogOut</a>

    </center>

    <hr>
    <center><span style="color: red;"><%=msg%></span></center>
    <%}%>
</body>
</html>